.menuConatiner {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.cardWrapper{
  max-width: 400px;
  margin: 0 auto;
}

.cardImageConatiner {
  display: flex;
  background-color: #ECECEC;
}

.cardBodyContainer {
  height: 175px;
}

.cardImage {
  margin: 60px auto;
}