.menuConatiner {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.cardImageConatiner {
  display: flex;
  background-color: #ECECEC;
}

.cardBodyContainer {
  height: 165px;
}

.cardImage {
  margin: 60px auto;
}